body {
  font-family: Roboto-Thin;
}

.col_head {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, #bf1e2e, #f1592a);
  overflow: hidden;
  height: 76px;
}

.header_logo {
  margin: 3px 50px 3px 3px;
  float: left;
  width: 189px;
  height: 70px;
}

.change_language {
  float: right;
  margin: 29px 5px;
}

.heed_logo {
  width: 100%;
}

.nav_head_a {
  text-decoration: none;
  color: #ffffff;
  padding: 32px 11px;
  display: inline-block;
}

.nav_head {
  float: left;
}

.nav_head .nav_head_a:hover {
  background: #ffffff;
  color: #2a2a2a;
}

.slider {
  margin-top: -120px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_slider {
  background: url(../img/background.png);
}

.button_slider:hover {
  background: url(../img/background_act.png);
}

.button_slider, .slider .button_slider_active_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92px;
  width: 92px;
}

.day_of_week {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16.5px;
  font-weight: 100;
}

.date {
  color: #fff;
  font-size: 44px;
  font-weight: 100;
}

.month {
  border-top: 1px solid #7d7c7c;
  color: #7d7c7c;
}

.button_slider_active {
  display: flex;
  height: 92px;
  width: 552px;
  background: url(../img/background_active.png);
}

.slider_info {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  color: #fff;
}

.title {
  font-size: 27.5px;
}

.description {
  font-size: 13px;
  font-weight: 100;
}

.move_left {
  margin-right: 5px;
  height: 36px;
  width: 36px;
  background: url(../img/move_left.png) 50% 50% no-repeat,
  linear-gradient(to top, #4c4c4c, #505050);
  border: 0;
  font-size: 0;
}

.move_right {
  margin-left: 5px;
  height: 36px;
  width: 36px;
  background: url(../img/move_right.png) 50% 50% no-repeat,
  linear-gradient(to top, #4c4c4c, #505050);
  border: 0;
  font-size: 0;
}

.move_left:hover {
  background: url(../img/move_left.png) 50% 50% no-repeat,
  linear-gradient(to top, #dd492a, #e54b2b);
}

.move_right:hover {
  background: url(../img/move_right.png) 50% 50% no-repeat,
  linear-gradient(to top, #dd492a, #e54b2b);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.left_sidebar {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 31px;
}
.nav_sidebar img{
  margin-right: 12px;
  max-height: 1.5em;
  position: relative;
  bottom: -5px;
}
.nav_sidebar p{
  margin-bottom: 10px;
}

.nav_sidebar a {
  text-decoration: none;
  color: #363a3b;
}

.nav_sidebar a:hover{
  color: #df4a2b;
}


